<body>

<br>

<br>

<br>

<br>

  <h2 class= text-center>L'EQUIPE</h2>

<br>
<br>
<br>
    <div id="team">
      <div class="container">
        <div class="row">
          <div id="steevy" class="col-xs-12 col-sm-6 text-center">
            <%= image_tag "steve-jobs.jpg", height: "200px" %>
            <h3>STEEVY</h3>
          </div>
          <div class="col-xs-12 col-sm-6 text-center">
            <%= image_tag "bill-gates.jpg", height: "200px" %>
            <h3>BILLY</h3>
          </div>
        </div>
      </div>
    </div>




  <h2 class= text-center>NOUS CONTACTER</h2>

  <h3 class= text-center>01.02.03.04.05</h3>



</body>
